__pycache__/
*.py[cod]
*.pyd
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
*.sqlite
venv/
*.env


./migrations/__pycache__
./__pycache__
./venv/lib/python3.9/site-packages/flask/__pycache__
./venv/lib/python3.9/site-packages/flask/json/__pycache__
./venv/lib/python3.9/site-packages/markupsafe/__pycache__
./venv/lib/python3.9/site-packages/flask_sqlalchemy/__pycache__
./venv/lib/python3.9/site-packages/flask_migrate/__pycache__
./venv/lib/python3.9/site-packages/flask_migrate/templates/flask/__pycache__
./venv/lib/python3.9/site-packages/flask_migrate/templates/aioflask-multidb/__pycache__
./venv/lib/python3.9/site-packages/flask_migrate/templates/aioflask/__pycache__
./venv/lib/python3.9/site-packages/flask_migrate/templates/flask-multidb/__pycache__
./venv/lib/python3.9/site-packages/mako/ext/__pycache__
./venv/lib/python3.9/site-packages/mako/__pycache__
./venv/lib/python3.9/site-packages/mako/testing/__pycache__
./venv/lib/python3.9/site-packages/jinja2/__pycache__
./venv/lib/python3.9/site-packages/importlib_metadata/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/middleware/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/wrappers/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/sansio/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/datastructures/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/routing/__pycache__
./venv/lib/python3.9/site-packages/werkzeug/debug/__pycache__
./venv/lib/python3.9/site-packages/click/__pycache__
./venv/lib/python3.9/site-packages/zipp/__pycache__
./venv/lib/python3.9/site-packages/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/connectors/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/util/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/ext/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/ext/mypy/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/ext/declarative/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/ext/asyncio/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/testing/plugin/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/testing/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/testing/fixtures/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/testing/suite/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/cyextension/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/dialects/postgresql/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/dialects/oracle/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/dialects/sqlite/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/dialects/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/dialects/mysql/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/dialects/mssql/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/orm/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/engine/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/pool/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/event/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/future/__pycache__
./venv/lib/python3.9/site-packages/sqlalchemy/sql/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/network/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/utils/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/models/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/cli/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/operations/install/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/operations/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/operations/build/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/req/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/resolution/legacy/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/resolution/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/resolution/resolvelib/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/vcs/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/locations/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/index/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/commands/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/metadata/__pycache__
./venv/lib/python3.9/site-packages/pip/_internal/distributions/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/packaging/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/msgpack/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/chardet/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/chardet/cli/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/chardet/metadata/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/webencodings/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pygments/filters/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pygments/lexers/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pygments/formatters/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pygments/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pygments/styles/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/progress/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pep517/in_process/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pep517/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/distlib/_backport/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/distlib/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pyparsing/diagram/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pyparsing/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/colorama/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/cachecontrol/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/cachecontrol/caches/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/idna/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/tenacity/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/requests/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/html5lib/filters/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/html5lib/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/html5lib/_trie/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/tomli/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/certifi/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/rich/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/urllib3/util/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/urllib3/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/pkg_resources/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/resolvelib/compat/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/resolvelib/__pycache__
./venv/lib/python3.9/site-packages/pip/_vendor/platformdirs/__pycache__
./venv/lib/python3.9/site-packages/pip/__pycache__
./venv/lib/python3.9/site-packages/alembic/util/__pycache__
./venv/lib/python3.9/site-packages/alembic/ddl/__pycache__
./venv/lib/python3.9/site-packages/alembic/runtime/__pycache__
./venv/lib/python3.9/site-packages/alembic/__pycache__
./venv/lib/python3.9/site-packages/alembic/operations/__pycache__
./venv/lib/python3.9/site-packages/alembic/script/__pycache__
./venv/lib/python3.9/site-packages/alembic/testing/plugin/__pycache__
./venv/lib/python3.9/site-packages/alembic/testing/__pycache__
./venv/lib/python3.9/site-packages/alembic/testing/suite/__pycache__
./venv/lib/python3.9/site-packages/alembic/autogenerate/__pycache__
./venv/lib/python3.9/site-packages/alembic/templates/async/__pycache__
./venv/lib/python3.9/site-packages/alembic/templates/multidb/__pycache__
./venv/lib/python3.9/site-packages/alembic/templates/generic/__pycache__
./venv/lib/python3.9/site-packages/blinker/__pycache__
./venv/lib/python3.9/site-packages/setuptools/_vendor/packaging/__pycache__
./venv/lib/python3.9/site-packages/setuptools/_vendor/__pycache__
./venv/lib/python3.9/site-packages/setuptools/_vendor/more_itertools/__pycache__
./venv/lib/python3.9/site-packages/setuptools/__pycache__
./venv/lib/python3.9/site-packages/setuptools/command/__pycache__
./venv/lib/python3.9/site-packages/setuptools/extern/__pycache__
./venv/lib/python3.9/site-packages/setuptools/_distutils/__pycache__
./venv/lib/python3.9/site-packages/setuptools/_distutils/command/__pycache__
./venv/lib/python3.9/site-packages/pkg_resources/_vendor/packaging/__pycache__
./venv/lib/python3.9/site-packages/pkg_resources/_vendor/__pycache__
./venv/lib/python3.9/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__
./venv/lib/python3.9/site-packages/pkg_resources/__pycache__
./venv/lib/python3.9/site-packages/pkg_resources/extern/__pycache__
./venv/lib/python3.9/site-packages/_distutils_hack/__pycache__
./venv/lib/python3.9/site-packages/greenlet/platform/__pycache__
./venv/lib/python3.9/site-packages/greenlet/tests/__pycache__
./venv/lib/python3.9/site-packages/greenlet/__pycache__
./venv/lib/python3.9/site-packages/itsdangerous/__pycache__

./database.db